/* 1. Style cho body: Chỉnh font-family và font-size */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/* 2. Style cho header: Chỉnh background-color */
header {
    background-color: rgb(201, 199, 199);
}

/* 3. Style cho nav: Chỉnh background-color */
nav {
    display: inline-block;
    width: 100%;
    background-color: rgb(174, 236, 215);
}

/* 4. Style cho main: Chỉnh background-color và font-size */
main {
    background-color: rgb(174, 236, 215);
    font-size: 18px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 5. Style cho footer: Chỉnh background-color */
footer {
    background-color: rgb(201, 199, 199);
    padding: 10px;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 6. Style cho li: Chỉnh display và width */
li {
    display: inline-block;
    width: auto;
    margin: 0 20px;
    text-align: center;
}

/* 7. Style cho h1: Chỉnh text-align, font-family, color */
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

/* 8. Style cho p: Chỉnh line-height */
p {
    line-height: 1.5;
}
