/* General Styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f2f2f2; /* Light grey background */
}

header {
    background-color: #333333; /* Dark background for header */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444444; /* Slightly lighter background for nav */
    padding: 10px 0;
    display: flex; /* Use flexbox */
    flex-direction: row; /* Set flex-direction as row */
    justify-content: space-between; /* Justify content as space between */
    align-items: center; /* Align items in the center */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex; /* Use flexbox for ul */
    justify-content: space-between;
    flex-direction: row; /* Set flex-direction as row for ul */
}

/* Commenting out existing styling for li element */
/* nav ul li {
    display: inline;
    margin: 0 15px;
} */

nav ul li {
    margin: 0 15px; /* Adjust margin as needed */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav img {
    width: 200px;
    position: center;
    top: 10px;
}

main {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 1200px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #444444; /* Line below h2 for separation */
    padding-bottom: 10px;
    color: #333333;
}

img {
    width: 100%;
    height: auto;
    max-width: 600px; /* Max width to control image size */
    display: center;
    margin: 25px auto;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    text-align: justify; /* Justified text for better readability */
    color: #271010; /* Grey color for paragraph text */
    line-height: 1.8;
}

footer {
    background-color: #333333; /* Dark background for footer */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

